<div
  class="side-menu"
  *ngIf="{
    nodes: nodes$ | async,
    links: links$ | async
  } as viewData"
>
  <ng-container
    *ngTemplateOutlet="divider; context: { text: 'Before Start' }"
  ></ng-container>

  <mat-form-field appearance="fill" class="side-menu__form__field">
    <mat-label>Select algo source Node</mat-label>
    <mat-select>
      <mat-option
        *ngFor="let node of viewData?.nodes"
        (click)="onSourceSelect(node)"
      >
        {{ node.label }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <ng-container
    *ngTemplateOutlet="divider; context: { text: 'Templates' }"
  ></ng-container>

  <mat-form-field appearance="fill" class="side-menu__form__field">
    <mat-label>Select a graph from templates</mat-label>
    <mat-select>
      <mat-option
        *ngFor="let template of nodesAndLinksTemplates | keyvalue"
        [value]="template.value"
        (click)="onTemplateSelect(template.value)"
      >
        {{ template.key }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <ng-container
    *ngTemplateOutlet="divider; context: { text: 'Nodes' }"
  ></ng-container>

  <ng-container
    *ngTemplateOutlet="subdivider; context: { text: 'Add new Node' }"
  ></ng-container>

  <form
    class="side-menu__form"
    [formGroup]="createNodeForm"
    (ngSubmit)="onSubmitCreateNode(createNodeForm)"
    [autocomplete]="false"
  >
    <mat-form-field appearance="fill" class="side-menu__form__field">
      <mat-label>Create new Node</mat-label>
      <input
        matInput
        placeholder="Node label"
        formControlName="nodeLabel"
        type="text"
      />
    </mat-form-field>

    <button
      class="side-menu__form__button"
      mat-raised-button
      matSuffix
      color="accent"
      type="reset"
      [disabled]="!createNodeForm.valid"
      (click)="onSubmitCreateNode(createNodeForm)"
    >
      Add Node
    </button>
  </form>

  <ng-container
    *ngTemplateOutlet="subdivider; context: { text: 'Delete a Node' }"
  ></ng-container>

  <form
    class="side-menu__form"
    [formGroup]="deleteNodeForm"
    (ngSubmit)="onSubmitDeleteNode(deleteNodeForm)"
    [autocomplete]="false"
  >
    <mat-form-field appearance="fill" class="side-menu__form__field">
      <mat-label>Select a Node to delete</mat-label>
      <mat-select formControlName="node">
        <mat-option *ngFor="let node of viewData?.nodes" [value]="node">
          {{ node.label }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button
      class="side-menu__form__button"
      mat-raised-button
      matSuffix
      color="accent"
      type="reset"
      [disabled]="!deleteNodeForm.valid"
      (click)="onSubmitDeleteNode(deleteNodeForm)"
    >
      Delete Node
    </button>
  </form>

  <ng-container
    *ngTemplateOutlet="divider; context: { text: 'Links' }"
  ></ng-container>

  <ng-container
    *ngTemplateOutlet="subdivider; context: { text: 'Add new Link' }"
  ></ng-container>

  <form
    class="side-menu__form"
    [formGroup]="createLinkForm"
    (ngSubmit)="onSubmitCreateLink(createLinkForm)"
    [autocomplete]="false"
  >
    <mat-form-field appearance="fill" class="side-menu__form__field">
      <mat-label>Select source Node</mat-label>
      <mat-select formControlName="source">
        <mat-option *ngFor="let node of viewData?.nodes" [value]="node">
          {{ node.label }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="side-menu__form__field">
      <mat-label>Select target Node</mat-label>
      <mat-select formControlName="target">
        <mat-option *ngFor="let node of viewData?.nodes" [value]="node">
          {{ node.label }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="side-menu__form__field">
      <mat-label>Provide Link cost</mat-label>
      <input
        matInput
        placeholder="Link cost"
        formControlName="cost"
        type="number"
      />
    </mat-form-field>

    <button
      class="side-menu__form__button"
      mat-raised-button
      matSuffix
      color="accent"
      type="reset"
      [disabled]="!createLinkForm.valid"
      (click)="onSubmitCreateLink(createLinkForm)"
    >
      Add Link
    </button>
  </form>

  <ng-container
    *ngTemplateOutlet="subdivider; context: { text: 'Delete a Link' }"
  ></ng-container>

  <form
    class="side-menu__form"
    [formGroup]="deleteLinkForm"
    (ngSubmit)="onSubmitDeleteLink(deleteLinkForm)"
    [autocomplete]="false"
  >
    <mat-form-field appearance="fill" class="side-menu__form__field">
      <mat-label>Select a Link do delete</mat-label>
      <mat-select formControlName="link">
        <mat-option *ngFor="let link of viewData?.links" [value]="link">
          source: {{ getNodeById(link.source, viewData?.nodes).label }}, target:
          {{ getNodeById(link.target, viewData?.nodes).label }}, cost:
          {{ link.data.cost }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <button
      class="side-menu__form__button"
      mat-raised-button
      matSuffix
      color="accent"
      type="reset"
      [disabled]="!deleteLinkForm.valid"
      (click)="onSubmitDeleteLink(deleteLinkForm)"
    >
      Delete Link
    </button>
  </form>
</div>

<ng-template #divider let-text="text">
  <div class="side-menu__divider">
    {{ text }}
    <hr />
  </div>
</ng-template>

<ng-template #subdivider let-text="text">
  <div class="side-menu__subdivider">
    {{ text }}
    <hr />
  </div>
</ng-template>
